* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, rgba(136, 222, 186, 1.000) 0.000%,
            rgba(121, 223, 197, 1.000) 8.333%,
            rgba(112, 217, 209, 1.000) 16.667%,
            rgba(109, 207, 220, 1.000) 25.000%,
            rgba(114, 193, 229, 1.000) 33.333%,
            rgba(125, 177, 234, 1.000) 41.667%,
            rgba(140, 161, 234, 1.000) 50.000%,
            rgba(159, 147, 230, 1.000) 58.333%,
            rgba(179, 137, 222, 1.000) 66.667%,
            rgba(198, 131, 211, 1.000) 75.000%,
            rgba(213, 132, 199, 1.000) 83.333%,
            rgba(222, 137, 188, 1.000) 91.667%,
            rgba(225, 148, 179, 1.000) 100.000%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: none; */
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
    background-color: azure;
    height: 600px;
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
    gap: 25px;
}

.card img {
    width: 100%;
    height: 35%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.textbox {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 75%;
    text-align: center;
}

#amountBox {
    width: 80%;
    height: 10%;
    background-color: #8bc6ec;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.amount{
    display: flex;
    align-items: center;
}
.amountText{
    /* width: fit-content; */
    display: flex;
    gap: 15px;
    font-weight: 530;
}
.icon{
    display: flex;
    align-items: center;
}
.icon img{
    height: 2rem;
    width: 2rem;
    border-radius: 20px;
}
.amttext{
    font-weight:550;
    padding-left: 10px;
}

.paymentButton {
    width: 80%;
    height: 9%;
    background-color: rgb(22, 22, 79);
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.lastLine {
    font-weight: bold;
}