/* h1{
    text-align: center;
    color: red;
    background-color: blue;
} */

*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    height: 30%;
    width: 30%;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: greenyellow;
}