div{
    height: 100px;
    width:100px;
    background-image: url('thrissur.jpg');
    background-size: cover; /* This will ensure the image covers the entire div */;
    position: fixed;
    right: 0px;
    top: 100px;
}