div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid ;
    padding-left: 25px;
    padding-top: 25px;
   /* margin-top: 50px;
    margin-left: 10px; */
    margin:10px ;
}